img{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.signin{
    width: 500px;
    height: 350px;
    color: black;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 100px 100px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    font-size: 40px;
    font-family: sans-serif;
    
}

.accounts{
    line-height: 1;
    font-size: 17px;
    font-weight: lighter;
}

form{
    margin-top: 10px;
    width: 100%;
    
}


#email{
    width: 100%;
}

.password{
    margin-left: 50px;
    font-size: 17px;
    font-weight: lighter;
    

}



#enterpassword{
    width: 100%;

}

form{
    width: 100%;
    
}

button{
    background-color: orange;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    padding: 7px;
    
}

h2 {
    margin-left: 20px;
    margin-top: 30px;
    
}

a {
    font-size: 17px;
    font-weight: lighter
}

